<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/styles') %>
  </head>
  <body>
    <%- include('partials/nav_bar') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3" style="">
          <%- include('partials/category') %>
        </div>
        <div class="col-sm-6" style="">
          <!--
          <div class="row">
            <div class="col-sm-24 col-md-16">
              <div class="thumbnail">
                <div class="caption">
                  <h3>Pick Bali as favourite place for vacation</h3>
                  <p> offers all kinds of travelling excitement for world wide visitors. Situated north of Kuta and south of Seminyak, Legian is less hectic but still has a lot of captivating magic</p>
                  <p>
                    <button class="btn btn-primary" onclick="location.href='/topics/vote';">
                         <img src="images/bananas.png" width="24" style="margin-right: 5px;"/>
                         <span class="badge">20</span>
                    </button>
                    <button class="btn btn-default">
                         <img src="images/coconut.png" width="24" style="margin-right: 5px;" />
                         <span class="badge">3</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        -->

          <!--
          <div class="row">
            <div class="col-sm-24 col-md-16">
              <div class="thumbnail">
                <div class="caption">
                  <h3>Help Jim to win her heart</h3>
                  <p>Give jim banana if you support him to marry his girlfriend</p>
                  <button class="btn btn-primary">
                       <img src="images/bananas.png" width="24" style="margin-right: 5px;"/>
                       <span class="badge">0</span>
                  </button>
                  <button class="btn btn-default">
                       <img src="images/coconut.png" width="24" style="margin-right: 5px;" />
                       <span class="badge">0</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        -->

        <div class="row">
          <div class="col-sm-24 col-md-16">
            <% for(let i=0; i<topics.length; i++){ %>
              <% var topic=topics[i] %>
            <div class="thumbnail">
              <div class="caption">
                  <h3><%= topic.title %></h3>
                  <p><%= topic.description %></p>
                  <button class="btn btn-primary" onclick="location.href='/topics/vote/<%=topic.id%>?give=banana';">
                       <img src="images/bananas.png" width="24" style="margin-right: 5px;"/>
                       <span class="badge">0</span>
                  </button>
                  <button class="btn btn-default" onclick="location.href='/topics/vote/<%=topic.id%>?give=coconut';">
                       <img src="images/coconut.png" width="24" style="margin-right: 5px;" />
                       <span class="badge">0</span>
                  </button>
              </div>
            </div>
            <% } %>
          </div>
        </div>



        </div>

        <div class="col-sm-3" style="">
          <%- include('partials/last_post') %>
        </div>
      </div>
    </div>
    <%- include('partials/scripts') %>
    <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </body>
</html>
