<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <%- include('partials/nav_bar') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3" style="">
          <%- include('partials/category') %>
        </div>
        <div class="col-sm-6" style="">

          <div class="row">
            <div class="col-sm-24 col-md-16">
              <div class="page-header">
                <h1>My Topics</h1>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-24 col-md-16">

              <% for(let i=0; i<topics.length; i++){ %>
                <% var topic=topics[i] %>
              <div class="thumbnail">
                <div class="caption">
                    <h3><a href="/topics/topic_detail/<%= topic.id %>"><%= topic.title %></a></h3>
                    <p><%= topic.description %></p>

                    <img src="/images/bananas.png" width="24" style="margin-right: 2px;"/>
                    <span class="badge"><%= topic.banana %></span>

                    <span style="margin-left: 20px; margin-right: 20px;"> | </span>

                    <img src="/images/coconut.png" width="24" style="margin-right: 5px;" />
                    <span class="badge"><%= topic.coconut %></span>

                </div>
              </div>
              <% } %>

            </div>
          </div>

        </div>

        <div class="col-sm-3" style="">
          <%- include('partials/last_post') %>
        </div>
      </div>
    </div>
    <%- include('partials/scripts') %>
    <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </body>
</html>
